.inquireBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 0px 22px;
  height: 72px;
  border: 1px solid var(--gray800);
  @media (min-width: 744px) {
    justify-content: center;
    &:nth-child(-n + 2) {
      width: calc(50% - 6px);
    }
  }
  @media (min-width: 1024px) {
    &:nth-child(-n + 3) {
      width: calc((100% - 24px) / 3);
    }
  }
}

.inquireBox:hover {
  text-decoration: none;
  filter: brightness(50%);
  background: rgba(0, 0, 0, 0.03);
}

.icon {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  @media (min-width: 1024px) {
    width: 48px;
    height: 48px;
  }
}
