.navLink {
  padding: 0px 4px;
  margin: 0px 16px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  overflow: hidden;
}

.navLink:after {
  display: block;
  position: absolute;
  bottom: 0;
  content: "";
  height: 4px;
  width: 100%;
  left: 0;
  transition: transform 0.4s cubic-bezier(1, 0, 0.2, 1);
  transform: translateX(-100%);
  opacity: 0.4;
  background-color: var(--mint700);
}

.navLink:hover::after {
  transform: translateX(0);
}

.active:after {
  transform: translateX(0);
  background-color: var(--mint900);
  opacity: 1;
}
