.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px;
  padding: 0px 24px;
}

@media (min-width: 1024px) {
  .container {
    height: 80px;
  }
}

@media (min-width: 744px) {
  .container {
    padding: 0px 48px;
  }
}

.navLinks {
  display: none;
  height: 100%;
}

@media (min-width: 1024px) {
  .navLinks {
    display: flex;
  }
}
