.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
  margin-bottom: 24px;
  @media (min-width: 744px) {
    height: 46px;
    margin-bottom: 32px;
  }
  @media (min-width: 1024px) {
    height: 54px;
    margin-bottom: 40px;
  }
}

.tabItem {
  cursor: pointer;
  border: 1px solid var(--gray200);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 100%;
}

.selected {
  color: var(--white);
  background-color: var(--gray800);
  border: 1px solid var(--gray800);
}
